<form method="post" class="needs-validation" novalidate>
    <div class="row gx-6 mb-3 align-items-center">
        <div class="col-6 ">
            <label for="link" class="form-label">Link</label>
            <input type="url" name="url" id="link" class="form-control" autocomplete="off" placeholder="https://example.com" required autofocus>        
            <div class="form-text">Enter the link to be shortened</div>                      
        </div>    

        <div class="col-4">
            <label class="form-label" for="username">Username</label>
            <div class="input-group">
                <div class="input-group-text">@</div>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>                
            </div>
            <div class="form-text">Enter a Username (to access your links)</div>
        </div>  

        <div class="col-2">
            <button class="btn btn-success">Shorten Link</button>
        </div>    

    </div>
    
    
     
</form>
