<form method="GET" action="/user" class="needs-validation">
    <div class="row gx-5 gy-3 mb-3 align-items-center">
        <div class="col-md-4">
            <label class="form-label" for="username">Username</label>
            <div class="input-group">
                <div class="input-group-text">@</div>
                <input type="text" class="form-control" id="username" placeholder="Username" name="user" required>                
            </div>
            <div class="form-text">Enter your Username</div>
        </div>  

        <div class="col-md-1 text-center">
            <button class="btn btn-success mt-1">Go!</button>
        </div>    

    </div>
    
    
     
</form>