<%- include('partials/head') %>

<%- include('partials/nav') %>

<form method="post" action="/new">
    <label for="link">Enter the link to be shortened</label>
    <input type="url" name="url" id="link" placeholder="https://example.com" pattern="https://.*" size="30" required>
    <button>Shorten Link</button>
</form>

<%- include('partials/footer') %>