<%- layout("layouts/boilerplate") %> 

<%- include("partials/nav") %> 

<div class="row">
    <div class="user col-12 mb-2 text-center mt-5"> Oops...We encountered some error </div>        

    <div class="col-12 new mt-3 text-center">
        <a href="/"><button class="btn btn-primary btn-lg px-4 back">Back to Home Page</button></a>
    </div>

</div>



